*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.logo-primary-color{
    color: rgb(148, 148, 148);
}
.main{
    background: url('./movie-background.jpg') no-repeat center center/cover;
    height: 100vh;
    object-fit: contain;
 }
.container{
    max-width: 1300px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container ul{
    list-style: none;
    display: flex;
}
.container ul li a{
   padding: 1.2rem;
   display: block;
   color: rgb(114, 98, 252);
}
.container ul li a:hover{
    border-radius: 5px;
    color: white;
    transition: .5s;
}
